---
layout: default
title: Home 

---
<H1>Welcome to Blackwood Gardens.</H1>

<p>A garden design studio based in North Berwick serving East Lothian and the Edinburgh area. </p>
<p>We work with clients who are ready to invest in their gardens, so we can work with you to transform your outdoor space into somewhere you can love and enjoy.</p> 
<p>Design and problem solving come naturally to us, its what we do. </p> 
<p>We transform your old garden into something you love. We do this with consideration for the landscape so that your new garden is  a natural fit. When it comes to getting your garden built, then it is all about the detail, meticulous plans, beautiful materials, and quality partnerships with skilled landscapers to realise your garden aspiration.
<p>Don’t forget the plants – we never do! because that's where our passion lies, long before we were a professional garden designer, we had a love of plants and gardens, in fact I would say it ran in our DNA. We select plants using knowledge and experience  to get the right combinations for you and the environment so they can flourish and provide beauty and nature for you to enjoy.</p>  

<H2>Join us now on your the garden journey...</H2> 

{% for post in site.posts %}
  {% if post.categories contains 'home' %}
      {% include featured-post.html %}
  {% endif %} 
{% endfor %}
<!-- Pagination links 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
