---
layout: default
title: Home 

---
<H1>Welcome to Blackwood Gardens</H1>

We are a garden design studio based in North Berwick serving East Lothian and the Edinburgh area.

<P>
  We work with clients who are ready to invest in their gardens, so we can transform your outdoor space into somewhere for you to love and enjoy.  
</P>
<P>
  Design and problem solving come naturally to us, its what we do.
  We design with you in mind and consideration for the landscape, so that your new garden is a natural fit. 
</P>
<P>
  When it comes to building your garden, then it is all about the details, meticulous plans, beautiful materials and carefully selected plants to deliver your garden aspiration.
</P>




 


<H2>Join us now on your the garden journey</H2> 

{% for post in site.posts %}
  {% if post.categories contains 'home' %}
      {% include featured-post.html %}
  {% endif %} 
{% endfor %}
<!-- Pagination links 
<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
